<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="/static/images/h-gear.svg" alt="H4H brand"/>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li id="home-nav"><a href="/">Home</a></li>
        <li id="about-nav" class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About <i class="fa fa-angle-down"></i></a>
          <ul class="dropdown-menu">
            <li><a href="/about/#the-hackathon">The Hackathon</a></li>
            <li><a href="/about/#the-kickoff">The Kickoff</a></li>
            <li><a href="/about/#st-computer-science">S&amp;T Computer Science</a></li>
            <li><a href="/about/#people">People</a></li>
          </ul>
        </li>
        <li id="rules-nav"><a href="/rules/">Rules</a></li>
        <li id="faq-nav"><a href="/faq/">FAQ</a></li>
        <li id="teams-nav"><a href="{% url 'team_list' %}">Teams</a></li>
        <li id="profiles-nav"><a href="{% url 'profile_list' %}">People</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            My H4H
          </a>
          <ul class="dropdown-menu">
            <li><a href="{{ user.profile.get_absolute_url }}"><i class="fa fa-user"></i>&nbsp;&nbsp;{{ user.username }}</a></li>
            <li><a href="{% url 'profile_update' %}"><i class="fa fa-pencil"></i>&nbsp;&nbsp;Update Profile</a></li>
            {% if user.team_set.all.exists %}
            <li role="separator" class="divider"></li>
            {% with users_team=user.team_set.first %}
            {% with request_count=users_team.request_set.all.count %}
            <li>
              <a href="{{ users_team.get_absolute_url }}">
                <i class="fa fa-users"></i>&nbsp;&nbsp;My Team
              </a>
            </li>
            <li>
              <a href="{{ users_team.get_absolute_url }}">
                {% if request_count %}
                <i class="fa fa-envelope text-success"></i>&nbsp;&nbsp;{{ request_count }} Pending Request{{ request_count | pluralize }}
                {% else %}
                <i class="fa fa-envelope"></i>&nbsp;&nbsp;No Pending Requests
                {% endif %}
              </a>
            </li>
            {% endwith %}
            {% endwith %}
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'socialaccount_connections' %}">
                <i class="fa fa-google"></i>&nbsp;&nbsp;My Google Accounts</a>
            </li>
            <li><a href="{% url 'account_logout' %}">
                <i class="fa fa-power-off"></i>&nbsp;&nbsp;Logout</a>
            </li>
          </ul>
        </li>
        {% else %}
        <li>
          <a href="{% url 'team_list' %}" role="button">
            My H4H
          </a>
        </li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
