{% extends "default.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Sign Up{% endblock %}

{% block default_content %}
<div class="jumbotron">
  <h1>Sign Up</h1>
</div>

<form method="post" action="{% url 'socialaccount_signup' %}">
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  {% csrf_token %}
  {{ form | crispy }}

  <input class="btn btn-primary" type="submit" name="submit" value="Sign Up" />
</form>

{% endblock %}
