{% extends "default.html" %}

{% block default_content %}
<div class="jumbotron">
  <div class="pull-right">
    <a class="btn btn-primary" href="{% url 'team_list' %}">
      <i class="fa fa-arrow-left"></i>&nbsp;&nbsp;Back to teams
    </a>
  </div>
  <h1>{{ team.name }}</h1>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">Members</div>
      <div class="panel-body">
        <ul class="list-unstyled">
          {% for member in team.members.all %}
          <li>{{ member.username }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-xs-12 {% if on_team %}col-sm-6{% else %}col-sm-9{% endif %}">
    {{ team.rendered_description | safe }}
  </div>

  {% if on_team %}
  <div class="col-xs-12 col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">Team Requests</div>
      <div class="panel-body">
        <ul class="list-unstyled">
          {% for req in team.request_set.all %}
          <li>
            <a href="{{ req.get_absolute_url }}">{{ req.user.username }}</a>
          </li>
          {% empty %}
          <li>No requests to join</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
