{% extends "default.html" %}

{% block default_content %}
<div class="jumbotron">
  <h1 style="display:inline;">Teams</h1>
  <div class="pull-right">
    <p><i class="fa fa-users fa-5x text-muted"></i></p>
  </div>
  <p>
    Join a project, or create your own!
  </p>
  <a class="btn btn-success {% if user.team_set.all.exists %}disabled{% endif %}"
     href="{% url 'team_create' %}">
    <i class="fa fa-plus"></i>&nbsp;&nbsp;Create Team
  </a>
  <a class="btn btn-danger {% if not user.team_set.all.exists %}disabled{% endif %}"
     href="{% url 'team_leave' %}">
    <i class="fa fa-close"></i>&nbsp;&nbsp;Leave Team
  </a>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th>Request to Join</th>
    </tr>
  </thead>
  <tbody>
    {% for team in object_list %}
    <tr>
      <th scope="row">
        {% if user_team.pk == team.pk %}<i class="fa fa-star"></i>{% endif %}
        <a href="{{ team.get_absolute_url }}">{{ team.name }}</a>
      </th>
      <td>{{ team.members.count }}</td>
      <td>
        <a class="btn btn-success btn-sm {% if user.team_set.all.exists %}disabled{% endif %}"
           href="{% url 'request_send' slug=team.slug %}">
          Request to join
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
